<h1>New Users</h1>

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>

  <%= label_tag(:email, "Email:") %>
  <%= email_field_tag(:email) %>

  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>

  <%= submit_tag(:submit) %>

<% end %>

<!-- The old fashioned way
<form action="/users"
      method="post" 
      accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]">

  <label for="email">Email:</label>
  <input id="email" type="email" name="user[email]">

  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">

  <input type="submit" value="Submit">
</form>
//-->